In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
Chennai=['velachery_chennai','thiruvanmiyur_chennai','madipakkam_chennai',
        'thoraipakkam_chennai','sholinganallur_chennai','medavakkam_chennai','mylapore_chennai',
        'adyar_chennai','t_nagar_chennai','perungudi_chennai']

In [3]:
url=[]
for i in Chennai:
    url.append('https://www.nobroker.in/flats-for-sale-in-'+i)

In [4]:
Gname=[]
Grate=[]
Gemi=[]
Garea=[]
Glocation=[]
for i in range(len(url)):
    data=requests.get(url[i])
    soup=BeautifulSoup(data.text,'html.parser')
    locname=soup.find_all('a',class_='overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full')#name
    locrate=soup.find_all('div','font-semi-bold heading-6')#rate
    #Name
    Name=[]                       
    for j in locname:
        Name.append(j.text)      
    Gname.append(Name)
    #Rate
    rate=[]
    lorate=[]
    for j in locrate:
        rate.append(j.text)
    for j in range(0,len(rate),3):
        lorate.append(rate[j])
    Grate.append(lorate)
    #EMI
    EMI=[]
    for j in range(1,len(rate),3):
        EMI.append(rate[j])
    Gemi.append(EMI)
    #Area
    area=[]
    for j in range(2,len(rate),3):
        area.append(rate[j])
    Garea.append(area)
    #Location
    location=[]
    for j in range(len(Name)):
        location.append(Chennai[i])
    Glocation.append(location)
# len(Gname)
# len(Grate)
# len(Gemi)
# len(Garea)

In [5]:
#BHK
Flat_Type=[]
for i in Gname:
    for j in i:
        Flat_Type.append(j)
# print(Flat_Type)
# Price
Price=[]
for i in Grate:
    for j in i:
        Price.append(j)
# print(Price)
# EMI
Monthly_Installment=[]
for i in Gemi:
    for j in i:
        Monthly_Installment.append(j)
# print(Monthly_Installment)
# Area
Build_Area=[]
for i in Garea:
    for j in i:
        Build_Area.append(j)
# print(Build_Area)
#Location
Loc=[]
for i in Glocation:
    for j in i:
        Loc.append(j)

In [6]:
df=pd.DataFrame({'Location':Loc,'Flat Type':Flat_Type,'Price':Price,'EMI':Monthly_Installment,'Area':Build_Area})

In [7]:
df

,Location,Flat Type,Price,EMI,Area
0,velachery_chennai,2 BHK Apartment In Tvh Mahanya For Sale In V...,â¹96 Lacs,"â¹55,021/Month",965 sqft
1,velachery_chennai,2 BHK Flat In Karpaga Illam For Sale In Vela...,â¹86 Lacs,"â¹49,290/Month",956 sqft
2,velachery_chennai,3 BHK Flat In Prabhu Flats For Sale In Velac...,â¹1.05 Crores,"â¹60,180/Month","1,160 sqft"
3,velachery_chennai,3 BHK Flat In R S Florentine For Sale In Vel...,â¹92 Lacs,"â¹52,729/Month","1,350 sqft"
4,velachery_chennai,1 BHK Flat In Orient Raghavendra For Sale In...,â¹33.5 Lacs,"â¹19,200/Month",510 sqft
...,...,...,...,...,...
245,perungudi_chennai,3 BHK Flat In Shriram Bharath Promoters For ...,â¹65 Lacs,"â¹37,254/Month",970 sqft
246,perungudi_chennai,2 BHK Flat In Rose Dale For Sale In Sri Sai ...,â¹54 Lacs,"â¹30,949/Month",852 sqft
247,perungudi_chennai,2 BHK Flat In Residency Raj Residency For Sal...,â¹1.25 Crores,"â¹71,643/Month","1,100 sqft"
248,perungudi_chennai,2 BHK Apartment In Falling Waters For Sale I...,â¹1.36 Crores,"â¹77,947/Month","1,434 sqft"
249,perungudi_chennai,3 BHK Apartment In Kriyas Sai Sudha For Sale ...,â¹1.1 Crores,"â¹63,045/Month","1,585 sqft"

In [8]:
BHK=[]
for i in Flat_Type:
    BHK.append(i[0:5])
# print(BHK)
# len(BHK)

In [9]:
df['BHK']=BHK

In [10]:
newdf=df.copy()

In [11]:
df_Final=newdf[(newdf['BHK']=='2 BHK') | (newdf['BHK']=='3 BHK')]

In [12]:
df_Final.set_index(np.arange(1,219),inplace=True)

In [13]:
df_Final.drop('BHK',axis=1,inplace=True)

In [14]:
df_Final

In [15]:
df_Final.to_excel('Chennai.xlsx')

In [16]:
df.to_excel("chennaiDataAnalysis.xlsx")

In [8]:
df.to_excel('Chennaiwithloc.xlsx')