In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [14]:
Delhi=['vasant-vihar-delhi','safdarjung-enclave-delhi','hauz-khas-delhi',
        'greater-kailash-delhi','connaught-place-delhi','gulmohar-park-delhi','green-park-extension-new-delhi-delhi',
        'east-of-kailash-delhi','panchsheel-park-delhi','lajpat-nagar-i-delhi']

In [15]:
url=[]
for i in Delhi:
    url.append('https://www.nobroker.in/flats-for-sale-in-'+i)

In [42]:
Gname=[]
Grate=[]
Gemi=[]
Garea=[]
Glocation=[]
for i in range(len(url)):
    data=requests.get(url[i])
    soup=BeautifulSoup(data.text,'html.parser')
    locname=soup.find_all('a',class_='overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full')#name
    locrate=soup.find_all('div','font-semi-bold heading-6')#rate
    #Name
    Name=[]                       
    for j in locname:
        Name.append(j.text)      
    Gname.append(Name)
    #Rate
    rate=[]
    lorate=[]
    for j in locrate:
        rate.append(j.text)
    for j in range(0,len(rate),3):
        lorate.append(rate[j])
    Grate.append(lorate)
    #EMI
    EMI=[]
    for j in range(1,len(rate),3):
        EMI.append(rate[j])
    Gemi.append(EMI)
    #Area
    area=[]
    for j in range(2,len(rate),3):
        area.append(rate[j])
    Garea.append(area)
    #Location
    location=[]
    for j in range(len(Name)):
        location.append(Delhi[i])
    Glocation.append(location)
# len(Gname)
# len(Grate)
# len(Gemi)
# len(Garea)

In [49]:
#BHK
Flat_Type=[]
for i in Gname:
    for j in i:
        Flat_Type.append(j)
# print(Flat_Type)
# Price
Price=[]
for i in Grate:
    for j in i:
        Price.append(j)
# print(Price)
# EMI
Monthly_Installment=[]
for i in Gemi:
    for j in i:
        Monthly_Installment.append(j)
# print(Monthly_Installment)
# Area
Build_Area=[]
for i in Garea:
    for j in i:
        Build_Area.append(j)
# print(Build_Area)
#Location
Loc=[]
for i in Glocation:
    for j in i:
        Loc.append(j)

In [51]:
df=pd.DataFrame({'Location':Loc,'Flat Type':Flat_Type,'Price':Price,'EMI':Monthly_Installment,'Area':Build_Area})

In [52]:
df

,Location,Flat Type,Price,EMI,Area
0,vasant-vihar-delhi,1 BHK Flat In Dda Janta Flats For Sale In Va...,â¹50 Lacs,"â¹28,657/Month",362 sqft
1,vasant-vihar-delhi,3 BHK Flat In Apartment For Sale In Vasant V...,â¹6.5 Crores,â¹3.73 Lacs/Month,"1,800 sqft"
2,vasant-vihar-delhi,3 BHK Flat In Basanth Apartment For Sale In...,â¹1 Crore,"â¹57,314/Month","1,200 sqft"
3,vasant-vihar-delhi,2 BHK Flat In Hill View For Sale In Vasant V...,â¹2.1 Crores,â¹1.2 Lacs/Month,"1,300 sqft"
4,vasant-vihar-delhi,"2 BHK Flat In Dda Hill View Apartments, For S...",â¹3 Crores,â¹1.72 Lacs/Month,"1,500 sqft"
...,...,...,...,...,...
130,lajpat-nagar-i-delhi,2 BHK Flat In Kapur House For Sale In Lajpat...,â¹1.5 Crores,"â¹85,971/Month",900 sqft
131,lajpat-nagar-i-delhi,2 BHK Flat In Standalone Building For Sale ...,â¹92 Lacs,"â¹52,729/Month",900 sqft
132,lajpat-nagar-i-delhi,"2 BHK Flat In B Block, Lajpat Nagar- 1, New D...",â¹1.2 Crores,"â¹68,777/Month",900 sqft
133,lajpat-nagar-i-delhi,3 BHK Flat In Standalone Building For Sale ...,â¹1.35 Crores,"â¹77,374/Month","1,500 sqft"
134,lajpat-nagar-i-delhi,2 BHK Flat In Apartment For Sale In Lajpat ...,â¹85 Lacs,"â¹48,717/Month","1,000 sqft"

In [53]:
BHK=[]
for i in Flat_Type:
    BHK.append(i[0:5])
# print(BHK)
# len(BHK)

In [54]:
df['BHK']=BHK

In [55]:
newdf=df.copy()

In [56]:
df_Final=newdf[(newdf['BHK']=='2 BHK') | (newdf['BHK']=='3 BHK')]

In [ ]:
df_Final.set_index(np.arange(1,101),inplace=True)

In [ ]:
df_Final.drop('BHK',axis=1,inplace=True)

In [ ]:
df_Final

In [ ]:
df_Final.to_excel('Delhi.xlsx')

In [57]:
df.to_excel('Delhiwithloc.xlsx')