In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
mumbai=['andheri_west_mumbai','andheri_east_mumbai','malad_west_mumbai',
        'navi_mumbai_mumbai','powai_mumbai','thane_west_mumbai','mira_road_east_mumbai',
        'kharghar_mumbai','kandivali_east_mumbai','bandra_mumbai']

In [3]:
url=[]
for i in mumbai:
    url.append('https://www.nobroker.in/flats-for-sale-in-'+i)

In [4]:
Gname=[]
Grate=[]
Gemi=[]
Garea=[]
Glocation=[]
for i in range(len(url)):
    data=requests.get(url[i])
    soup=BeautifulSoup(data.text,'html.parser')
    locname=soup.find_all('a',class_='overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full')#name
    locrate=soup.find_all('div','font-semi-bold heading-6')#rate
    #Name
    Name=[]                       
    for j in locname:
        Name.append(j.text)      
    Gname.append(Name)
    #Rate
    rate=[]
    lorate=[]
    for j in locrate:
        rate.append(j.text)
    for j in range(0,len(rate),3):
        lorate.append(rate[j])
    Grate.append(lorate)
    #EMI
    EMI=[]
    for j in range(1,len(rate),3):
        EMI.append(rate[j])
    Gemi.append(EMI)
    #Area
    area=[]
    for j in range(2,len(rate),3):
        area.append(rate[j])
    Garea.append(area)
    #Location
    location=[]
    for j in range(len(Name)):
        location.append(mumbai[i])
    Glocation.append(location)
# len(Gname)
# len(Grate)
# len(Gemi)
# len(Garea)

In [5]:
#BHK
Flat_Type=[]
for i in Gname:
    for j in i:
        Flat_Type.append(j)
# print(Flat_Type)
# Price
Price=[]
for i in Grate:
    for j in i:
        Price.append(j)
# print(Price)
# EMI
Monthly_Installment=[]
for i in Gemi:
    for j in i:
        Monthly_Installment.append(j)
# print(Monthly_Installment)
# Area
Build_Area=[]
for i in Garea:
    for j in i:
        Build_Area.append(j)
# print(Build_Area)
#Location
Loc=[]
for i in Glocation:
    for j in i:
        Loc.append(j)

In [6]:
df=pd.DataFrame({'Location':Loc,'Flat Type':Flat_Type,'Price':Price,'EMI':Monthly_Installment,'Area':Build_Area})

In [7]:
df

,Location,Flat Type,Price,EMI,Area
0,andheri_west_mumbai,3 BHK Apartment In Royal Resort Tower For Sal...,â¹4.1 Crores,â¹2.35 Lacs/Month,"1,305 sqft"
1,andheri_west_mumbai,3 BHK Apartment In Lashkaria Green Heights F...,â¹3 Crores,â¹1.72 Lacs/Month,"1,600 sqft"
2,andheri_west_mumbai,2 BHK Flat In Guinea Paradise For Sale In An...,â¹2.5 Crores,â¹1.43 Lacs/Month,800 sqft
3,andheri_west_mumbai,3 BHK Apartment In Indra Darshan For Sale In...,â¹3.75 Crores,â¹2.15 Lacs/Month,"1,440 sqft"
4,andheri_west_mumbai,2 BHK Apartment In Kanakia Hollywood For Sale...,â¹3.4 Crores,â¹1.95 Lacs/Month,876 sqft
...,...,...,...,...,...
245,bandra_mumbai,1 RK Flat In Nutan Nagar Society For Sale In...,â¹90 Lacs,"â¹51,583/Month",310 sqft
246,bandra_mumbai,1 BHK Flat In Labbaik House For Sale In Band...,â¹1.35 Crores,"â¹77,374/Month",450 sqft
247,bandra_mumbai,2 BHK Apartment In Sayba Residency For Sale ...,â¹2.31 Crores,â¹1.32 Lacs/Month,700 sqft
248,bandra_mumbai,3 BHK Flat In Sambhav Zest For Sale In Bandr...,â¹6 Crores,â¹3.44 Lacs/Month,925 sqft
249,bandra_mumbai,"1 BHK Flat In Sterling Apartments, Andheri Ea...",â¹1.2 Crores,"â¹68,777/Month",457 sqft

In [8]:
BHK=[]
for i in Flat_Type:
    BHK.append(i[0:5])
# print(BHK)
# len(BHK)

In [9]:
df['BHK']=BHK

In [10]:
newdf=df.copy()

In [11]:
df_Final=newdf[(newdf['BHK']=='2 BHK') | (newdf['BHK']=='3 BHK')]

In [12]:
df_Final.set_index(np.arange(1,153),inplace=True)

ValueError: Length mismatch: Expected 144 rows, received array of length 152

In [ ]:
df_Final.drop('BHK',axis=1,inplace=True)

In [ ]:
df_Final

In [ ]:
df_Final.to_excel('Mumbai.xlsx')

In [ ]:
df.to_excel("MumbaiDataAnal")

In [8]:
df.to_excel('Mumbaiwithloc.xlsx')